*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: #2c3e50;
    padding: 20px;
    text-align: center;
    color: white;
}

header p{
    margin-top: 10px;
    font-size: 18px;
}

nav {
    background-color: #3d556d;
    border-top:#1b2c3e solid 1px;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 10px;
    margin-top: 10px;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #1b2c3e;
    text-decoration: underline;
}

.body {
    background-color: #a3a3a3;
    padding: 20px;
    line-height: 1.6;
    border-radius: 5px;
    color: #333;
}   

main {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
article {
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article h2 
{
    margin-bottom: 15px;
    color: #2c3e50;
}
article p {
    margin-bottom: 10px;
    color: #3f3f43;
}
section {
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: #c597d0 solid 5px;
}
aside {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     border-left: #c597d0 solid 5px;
}

aside h2 {
    margin-bottom: 15px;
    color: #2c3e50;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    margin-top: 20px;
    top: auto;
    width: 100%;
}