body {
    font-family: "Times New Roman", serif;
    color: #000;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

table {
    width: 1000px;
    margin: auto;
    border-collapse: collapse;
}

.info-table td {
    border: none;
    padding: 6px;
}

.timetable,
.legend {
    border: 1px solid black;
}

.timetable th,
.timetable td,
.legend th,
.legend td {
    border: 1px solid black;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}

.timetable th {
    height: 60px;
}

.timetable td {
    height: 60px;
}

.legend th {
    text-align: left;
}

.legend td {
    text-align: left;
}
